div#map {
    margin-top: 25px;
    margin-bottom: 50px;
    height: 300px;
}

.stroke {
    fill: none;
    stroke: none;
}

.fill {
    fill: rgba(0,0,0,0.05);
}

.graticule {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-opacity: 0.35;
    stroke-dasharray: 2,2;
}

.land {
    fill: rgba(0,0,0,0.25);
    stroke: #000000;
    stroke-width: 0.5px;
    stroke-opacity: 0.3;
}

@-webkit-keyframes pulseLocation {
    0% {
        stroke-opacity: 1;
        opacity: 1;
        r: 1px;
        stroke: #EF0623;
    }
    75% {
        stroke-opacity: 0;
        opacity: 0;
        r: 50px;
        stroke: #EF0623;
    }
    100% {
        stroke-opacity: 0;
        opacity: 0;
        r: 1px;
        stroke: #ffffff;
    }
}

@-moz-keyframes pulseLocation {
    0% {
        stroke-opacity: 1;
        opacity: 1;
        r: 1px;
        stroke: #EF0623;
        stroke-width: 1px;
    }
    75% {
        stroke-opacity: 0;
        opacity: 0;
        r: 50px;
        stroke: #EF0623;
        stroke-width: 50px;
    }
    100% {
        stroke-opacity: 0;
        opacity: 0;
        r: 1px;
        stroke: #ffffff;
        stroke-width: 1px;
    }
}

.location {
    border-width: 1px;
    stroke: #EF0623;
    stroke-opacity: 0;
    r: 1px;
    opacity: 0;
    fill: none;
    -webkit-animation: pulseLocation 4s linear 2s infinite;
    animation: pulseLocation 4s linear 2s infinite;
}
