<div class="page-heading">{{ i18n "lastKnownQTH" }}</div>
<p id="locationText">Please stand by while the satellite moves into position...</p>
<div id="mapContainer"><canvas id="map"></canvas></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>
<script type='text/javascript' src='/js/planetaryjs.min.js'></script>
<script type="text/javascript" src="/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
